.textinput-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
}
.button-styles{
    display: flex;
    justify-content: space-evenly;
}

.modal-header {
    border-bottom:none !important;
}


.game-content {
 width: 100%;
 height: calc(100vh - 50px);
 position: relative;
}

.setting-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    content: '';
    width:100%;
    background-color: rgba(9,25,38,.75);
    opacity: .9;
    z-index: 2;
    backdrop-filter: blur(6px);

}
.background-leaf{
    height: 100vh;
    background: cover;
    width: 100%;
    position: absolute;
    z-index: -1;

}
.box-container{
    background-color:white;
    padding: 120px 100px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}
.form-control{
    border-radius: 0rem !important;
    margin-left: 10px;
}

.pagination-button{
    position: absolute;
    bottom:0%;
    left: 50%;
    transform: translate(-50%);
}

