.textinput-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
}
.button-styles{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
}

.modal-header {
    border-bottom:none !important;
}


.game-content {
 width: 100%;
 height: calc(100vh - 50px);
 position: relative;
 background-color: #FEC87E;
}

.setting-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    content: '';
    width:100%;
    background-color: rgba(9,25,38,.75);
    opacity: .9;
    z-index: 2;
    backdrop-filter: blur(6px);

}
.background-leaf{
    height: calc(100vh - 175px);
    background: cover;
    width: 100%;
    position: absolute;
    z-index: 0;

}
.box-container{
    background-color:white;
    padding: 120px 100px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    align-items: center;
}
.form-control{
    border-radius: 0rem !important;
    margin-left: 10px;
}

.bottom-container{
    position: absolute;
    bottom:0%;
    background-color: #fff;
    width: 100%;
    padding: 30px ;
    display:flex;
}

.pagination-button{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}

.underline-group{
    position: absolute;
    top: 15%;
    left: 2vw;
    // transform: translate(-50%,0%);
    .ant-wrapper {
        height: 7vw;
        min-height: 52px;
        width: 3.5vw;
        min-width: 26px;
        position: absolute;
        top: -4vw;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

.underline{
    position: relative;
    height: 0.5vw;
    min-height:3.6px;
    width: 3.5vw;
    min-width: 26px;
    background-color: #fff;
    border-radius: 5px;

    .ant-wrapper {
        height: 7vw;
        min-height: 52px;
        width: 3.5vw;
        min-width: 26px;
        position: absolute;
        top: -4vw;

        img {
            height: 100%;
            width: 100%;
        }
    }
}