.outer-part {
    overflow: hidden;
}

.monkey-svg {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 3;
    img {
        height: 35vh;
    }
}
.right-nav{
    display: flex;
    flex-direction: row;
}
.brick-items-level > img{
    cursor: pointer;
}
.brick-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85%;
     width: 85%
}

.brick-items-level{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    height: 9VW;
    width: 75%;
}
.wood {
    svg {
        width: 10vw;
        height: 7vh;
    }
    margin-right: 5px;
    cursor: pointer;
}

.dash-image {
    height: 100vh;
    width: 100vw;
}
.speed1{
    min-height: 15px;
    height: auto !important;
    width: 75%;
    cursor: pointer;

}
.secondRowwrapper{
     width: 75%
}
.speed2{
    min-height: 15px;
    height: auto !important; width: 12%;
    cursor: pointer;


}
.speed3{
    min-height: 15px;
    height: auto !important; width: 87%;
    cursor: pointer;

}
.speed4{
    min-height: 15px;
    height: auto !important; width: 75%;
    cursor: pointer;

}
.thirdRowwrapper{
    width: 75%
}
.speed5{
    min-height: 15px;
    height: auto !important; width: 20%;
    cursor: pointer;

}
.speed6{
    min-height: 15px;
    height: auto !important; width: 80%;
    cursor: pointer;

}
.fourthRowwrapper{
     width: 75%
}
.speed7{
    min-height: 15px;
    height: auto !important; width: 20%;
    cursor: pointer;

}
.speed8{
    min-height: 15px;
    height: auto !important; width: 80%;
    cursor: pointer;

}

.navbar-nav {
  
    .dropdown-menu {
      position: absolute !important;
    }
  }