.rightSubmenu{
    position: absolute; bottom: 0; right: 0
}
.subMenuImage{
    width:100% ;height:18VW
}

.branch-three{
    position: absolute;
    width: 205px;
    bottom: -30px;
    left: 17px;
}

.branch-row{
    position: relative;
}