.game-contentWrapper {
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
   }

.ant-position{
right: -8%;
}

.top-container {
    top: 33%;
    z-index: 5;
}

.fish-net-wrapper {
    position: relative;
    height: 81vh;
    width: 80vw;
    margin: auto;
}

.fish-img {
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 5vh;
    left: 0;
    z-index: 2;
    animation : pulse 5s linear;

    &.finish-eating {
        animation: unset;
    }


    &.go-back {
        transform: translateX(200vw);
        transition: transform 1s ease-out;
        animation: unset;
    }
}

@keyframes pulse {
    from {
        transform : translateY(20px);

    }
    20% {
        transform : translateY(0);
    }
    40% {
        transform : translateY(20px);
    }
    60% {
        transform : translateY(0);
    }
    80% {
        transform : translateY(20px);
    }
    to {
        transform : translateY(0);
    }
}
.net-img {
    width: 220px;
    height: 98%;
    position: absolute;
    top: 0;
    right: 0;

    &.start-eating {
        transform: translateX(calc(-80vw + 220px));
        transition: transform 7s ease-out;
    }


    &.finish-eating {
        transform: translateX(calc(-80vw + 220px)) scaleX(-1);
        transition: transform 0.3s ease-out;
    }

    &.go-back {
        transform:translateX(200vw) scaleX(-1);
        transition: transform 1s ease-out;
    }
}

.net-img-front{
    z-index:3;
}

.net-img-back{
    z-index:1;
}



