@import '../variables/color.scss';

.navbar-section {
    padding: 10px 10px;
    background-color: $primary-color;
}

.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.game-name-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}