@import '../variables/color.scss';

.navbar-section {
    padding: 10px 10px;
    background-color: $primary-color;
}

.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.game-name-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

.navbar-setting-content {
    position: absolute;
    top: 60px;
    right: 80px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .fullscreen-icon {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sound-icon {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.custom-navbar {
    z-index: 100;
}

.setting-button{
    margin: 20px 0;
}
.voice-setting{
    width: 30rem !important;
}
.sound-setting-wrapper{
    padding: 10px 0;
    background-color: #ddf1fa;
}
.ok-setting-wrapper{
    padding:  10px 0;;
}