.modal-section{
    display:flex;
    flex-direction:column;
    background-color:aqua;
}

.logout-modal{
    width: 250px !important;
}

.btn-logout{
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
    color: white !important;
font-size: 20px;
border:0px !important

}